@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="row">
        <div class="col-md-6 offset-md-3 ">
            <div class="card login-logout-tab custom-loginregister">
                <div class=" bg-transparent section">
                    
                    <ul class="nav nav-tabs card-header-tabs justify-content-center bg-transparent custom-ul section">
                        <li >
                            <a class="text-white" href='/Identity/Account/Login'>SIGN IN</a>
                        </li >
                        <hr />
                        <li >
                            <a class="text-white" href='/Identity/Account/Register'>SIGN UP</a>
                        </li>
                        
                    </ul>
                </div>
                <br />
                <div class="card-contetnt">
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



@section Scripts
{
    @RenderSection("Scripts", required: false)

   
    <script src="~/js/custom.js"></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
}
