@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/custom.css" />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="background-color: white; padding:20px; border-radius:10px">
        <h1 class="text-white text-center custom-linear ">THANKS FOR USING BIKE APP</h1>
    </div>
        }
