
@{ ViewData["Title"] = "BikeApp"; }

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="custom-linear">SEARCH CITY AND CHECK WEATHER FOR YOUR BIKE TRIP</h1>
    <br />
    <input type="text" class="form-control" id="usr" text-center>
    <br/>
    <input type="button" class="btn btn-info" id="WeatherForecast" value="GET FORECAST" />

    
</div>


@section Scripts{
    <script type="text/javascript">
        $("#WeatherForecast").click(function () {
            var txtVal = $("#usr").val();
            window.location = "@Url.Action("WeatherF","Home")" +
                              "/" + txtVal;
        });
    </script>

}
